{% extends "base.html" %}

{% block content %}
<h2>All Orders History</h2>
<hr>
<div id="tz-alert" class="alert alert-info alert-dismissible fade show" role="alert">
    <small><em>All date-times are in <strong><span id="timezone"></span></strong> timezone.</em></small>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="container-fluid" style="padding-bottom: 48px;">
    <table id="data" class="table table-striped" style="width: 100%;">
        <thead style="vertical-align: middle;">
            <tr>
                <th>Order ID</th>
                <th>Period</th>
                <th>Division</th>
                <th>Status</th>
                <th>Created By</th>
                <th>Created At</th>
                <th>Last Updated</th>
                <th>Approved By (Division)</th>
                <th>Approved At (Division)</th>
                <th>Approved By (Finance)</th>
                <th>Approved At (Finance)</th>
                <th>Fulfilled On</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/2.3.1/luxon.min.js"></script>
<script>
    setTimeout(() => $('#tz-alert').alert('close'), 10000); // Close the alert after 10 seconds

    $(document).ready(function() 
    {
        var tzLong = luxon.DateTime.local().zoneName;
        var tzGMT = luxon.DateTime.local().toFormat('ZZZZ');

        document.getElementById('timezone').innerHTML = `${tzLong} (${tzGMT})`;

        $('#data').DataTable(
        {
            stateSave: true,
            stateDuration: 360 * 24 * 3600,
            ajax: 
            {
                url: "/api/orders",
                dataSrc: "",
                type: "GET"
            },
            columns: 
            [
                { data: "id" }, // 0
                { data: "period" }, // 1
                { data: "division.name" }, // 2
                { data: "status.text" }, // 3
                { data: "created_by" }, // 4
                { 
                    data: "created_date", // 5
                    render: function(data) { return formatToLocalTZ(data, 'utc', true); }
                },
                { 
                    data: "last_modification_date", // 6
                    render: function(data) { return formatToLocalTZ(data, 'utc', true); }
                },
                { data: "approval_division_by" }, // 7
                { data: "approval_division_date" }, // 8
                { data: "approval_finance_by" }, // 9
                { data: "approval_finance_date" }, // 10
                { data: "fulfillment_date" }, // 11
                {
                    data: null,
                    render: function(data, type, row) 
                    {
                        return `<a href="/order/${row.id}" class="btn btn-sm btn-secondary"><i class="fas fa-eye"></i> View</a>`;
                    }
                }
            ],
            columnDefs: 
            [
                { visible: false, targets: [7, 8, 9, 10, 11] },
                { searchPanes: { show: true }, targets: [1, 2, 3, 4, 7, 9] },
                { searchPanes: { show: false }, targets: [0, 5, 6, 8, 10, 11] }
            ],
            order: [[5, 'desc'], [1, 'asc'], [2, 'asc'], [4, 'asc']],
            fixedHeader: true,
            language: 
            {
                searchBuilder: 
                {
                    button: 
                    {
                        0: 'Advanced Search',
                        _: 'Advanced Search (%d)'
                    },
                    title:
                    {
                        _: 'Advanced Search (%d)',
                        0: 'Advanced Search'
                    },
                    data: 'Item'
                }
            },
            pageLength: 25,
            lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            layout: 
            {
                top2Start: 'info',
                top2End: 
                {
                    buttons: 
                    [
                        {
                            extend: 'colvis',
                            text: 'Columns',
                            columns: [0, 1, 2, 3, 4, 5, 6],
                        },
                        {
                            extend: 'collection',
                            text: 'Export…',
                            buttons:
                            [
                                {
                                    extend: 'excelHtml5',
                                    text: 'Excel',
                                    autoFilter: true,
                                    filename: `Toku_Items_List_${new Date().toISOString().slice(0, 10)}`,
                                    messageBottom: `Exported on ${new Date().toISOString().slice(0, 10)}. Generated by JACITA Toku.`,
                                    sheetName: 'Network Clients',
                                    exportOptions: { columns: [0, 1, 2, 3, 4, 5, 6] }
                                },
                                {
                                    extend: 'pdfHtml5',
                                    text: 'PDF',
                                    filename: `Toku_Items_List_${new Date().toISOString().slice(0, 10)}`,
                                    download: 'open',
                                    messageBottom: `Exported on ${new Date().toISOString().slice(0, 10)}. Generated by JACITA Toku.`,
                                    pageSize: 'A4',
                                    orientation: 'landscape',
                                    exportOptions: { columns: [0, 1, 2, 3, 4, 5, 6] }
                                }
                            ]
                        },
                        {
                            extend: 'searchBuilder',
                            config: { columns: [1, 2, 3, 4, 5] }
                        },
                        {
                            text: 'Refresh',
                            attr:  { id: 'btnRefresh' },
                            action: function (e, dt, node, config) 
                            {
                                const btnRefresh = document.getElementById('btnRefresh');
                                btnRefresh.disabled = true;
                                btnRefresh.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Refreshing...';

                                displayToast('Data Refresh', 'Refreshing data from the server...', 'info');
                                dt.searchPanes.clearSelections();
                                
                                dt.ajax.reload(function() 
                                {
                                    setTimeout(() => dt.searchPanes.rebuildPane(), 2000);

                                    btnRefresh.disabled = false;
                                    btnRefresh.innerHTML = 'Refresh';

                                    displayToast('Data Refresh', 'Data refreshed successfully.');
                                });
                            }
                        }              
                    ]
                },
                top1: { searchPanes: { show: true, initCollapsed: true, cascadePanes: true } },
                bottomStart: null,
                bottomEnd: 'paging',
            }
        });
    });
</script>
{% endblock %}