{% extends 'base.html' %}

{% block content %}
<div class="row subheader">
    <h1>Welcome to JACITA Toku</h1>
    <p>JACITA Toku is an interal application for managing and creating procurement draft orders.</p>
</div>
<hr>
<div class="container-md">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Create Draft Order</h5>
                    <p class="card-text">Create a new draft order for procurement.</p>
                    <a href="#" class="btn btn-primary">Create Order</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">View Draft Orders</h5>
                    <p class="card-text">View all draft orders created.</p>
                    <a href="#" class="btn btn-primary">View Orders</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}